<h1 class="h4 d-flex justify-content-between mb-4">
  <span>Posts</span>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
</h1>

<% @posts.each do |post| %>
  <%= link_to edit_post_path(post), class: 'text-decoration-none' do %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-title text-dark"><%= post.title %></p>
        <p class="card-text text-secondary"><%= post.description %></p>
      </div>
    </div>
  <% end %>
<% end %>
